body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 2500px;
    position: relative;
    text-align: center;
}

.card-content {
    padding: 50px;
}

.titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.descricao {
    background-color: #333;
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.card:hover .descricao{
    transform: translateY(0);
}