body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}



.image img {
    max-width: 300px;
    border-radius: 10px;
}

.detalhes {
    margin-left: 20px;
}

.detalhes h1 {
    margin: 0 0 10px;
    font-size: 24px;
}

.produto {
    margin: 5px 0;
    color: #555;
}

.preco {
    font-size: 20px;
    color: #af0505;
    margin: 15px 0;
}

.button {
    background-color: #4a4847;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #7b7a79;
}